# Created by .ignore support plugin (hsz.mobi)
/BackUp/
/exl/
/logs/
/PHPExcel/
/framework/
/www/assets/
/www/signatures/
/www/upload/
/www/css/
/www/.idea/
/www/documents/
/www/img/
/www/themes/
/www/js/
/www/templates/
/www/bank.xlsx
/www/document_templates.xlsx
/www/Для XML.xls
/www/assignments.xlsx
/www/authitem.xlsx
/www/authitemchild.xlsx
/www/test.csv
/www/contragent.xlsx
/www/Dump_mysql_excel.php
/www/excel.php
/www/HTML_TEST.pdf
/www/Для XML — копия.xls
/www/адреса контракт-2.xls
/www/bank_details.xlsx
/www/Dump_csv.php
/www/Dump_mysql.php
/www/php-barcode-0.4.tar.gz
/www/loop.php
/www/authassignment.xlsx
/www/act_pbsledovaniya.xlsx
/www/contact_persons.xlsx
/www/GKUZU_0E40E996-7114-42B9-AD45-5CD3E95060F2.zip
/www/contragent_info.xlsx
/Dump_csv.php
/Dump_mysql.php
/excel.php
/MysqDamp.bat
/Батники/
/csv_export.php
/ExcelDamp.bat
/Dump_excel.php
/копирование на флешку.bat
/www/protected/extensions/
/www/protected/yiic.php
/www/protected/files/
/www/protected/yiic.bat
/www/protected/tests/
/www/protected/Dump_mysql.php
/www/protected/data/
/www/protected/runtime/
/www/protected/config/
/www/protected/vendors/
/www/protected/components/
/www/protected/img/
/www/protected/yiic
